* {
    margin: 0;
    padding: 0;
}

.container {  display: grid;
    grid-template-columns: 0.3fr 1.5fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.6fr 1.8fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Nav-bar Header Header Header"
      "Nav-bar Content-1 Content-1 Content-1"
      "Nav-bar Content-2 Content-2 Content-2"
      "Nav-bar Footer Footer Footer";
  }
  
  .Header { grid-area: Header; 
    background-color: green;
    width: auto;
    text-align: center;
    padding-top: 1.2rem;
}
  
  .Nav-bar { grid-area: Nav-bar; 
    background-color: rgb(93, 93, 93);
}
  
  .Content-1 { grid-area: Content-1; 
    background-color: blue;
}
  
  .Content-2 { grid-area: Content-2; 
    background-color: red;
}
  
  .Footer { grid-area: Footer; 
    background-color: cornsilk;
}
  

img {
    width: 250px;
    height: auto;
    border-radius: 45% 45% 50% 50%;
    align-self: center;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(93, 93, 93);
  } 

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: rgb(124, 113, 205);
  }




/* .grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.3fr 0.5fr 2.8fr 0.4fr; 
    gap: 1em 0em; 
    grid-template-areas: 
      "Header Header Header Header "
      ". Content Content Content"
      ". Content Content Content"
      ". Footer Footer Footer"; 
  } 

  .Intro { grid-area: Intro;}


  ul {
    list-style-type: none;
    overflow: auto;
    background-color: rgb(93, 93, 93);
    width: 7%;
    height: 100%; 
    position: fixed; 
  } 

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(124, 113, 205);
  }

  .Content { grid-area: Content; 
}

  .Footer { grid-area: Footer; 
} */