html {
  background-color: rgb(248, 243, 236);
}

article {
  text-align: center;
  margin-bottom: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(93, 93, 93);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(124, 113, 205);
  }

  .one {
    float:right
  }
