* {
  margin:0;
  padding: 0;
}

html {
  background:linear-gradient(90deg, rgba(238, 130, 238, 1) 0%, rgba(255, 255, 0, 1) 100%);
  box-sizing: border-box;
  font-size: 60%;
}

nav {
  position: sticky;
  margin-right: 25px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(93, 93, 93);
  } 
  li {
    float: left;
  }


  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: rgb(124, 113, 205);
  }

.one {
  float:right
}


body {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grid {
  display: grid;
  width: 114em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
  align-items: start;
}

.grid-item {
  background-color: rgb(217, 241, 241);
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem black;
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgb(250, 70, 238);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: rgb(63, 62, 62);
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: #3d3d3d;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.4rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color:rgb(164, 201, 238)
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }
}
  
.grid {
  grid-gap: 3rem;
}